.color{

    background-color: rgba(255, 255, 255, 0.51);
 
    
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bg{
    color: rgb(73, 166, 243);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background-color: rgba(255, 255, 255, 0.466);

}
.cd{
    background-color: rgb(195,210,217);
}