.App{
    /* background-image: url(https://img.freepik.com/free-photo/young-handsome-physician-medical-robe-with-stethoscope_1303-17818.jpg?w=996&t=st=1704476624~exp=1704477224~hmac=0047640ea124488115dc2be130c94f1d24d7fe82e52d3e4db278f36563709948); */
    background-image: url(https://img.freepik.com/free-photo/hands-unrecognizable-female-doctor-writing-form-typing-laptop-keyboard_1098-20374.jpg?w=996&t=st=1704631636~exp=1704632236~hmac=db4db11de9f5f938f0a4bffacead690ac736b6ee7b00406a1d0630f3b061d149);

    background-repeat: no-repeat;

background-size: cover;
object-fit: contain;

}